<html><head></head><body>
    <h1><a href="/">단어장</a></h1>
    <ol>
        <li><a href="/random/">random</a></li>
        <li><a href="/random2/">random2</a></li>
        <li><a href="/reads/">reads</a></li>
        <li><a href="/create/">create</a></li>
    </ol>
    <form action="/create/" method="POST">
    <p><input type="text" name="english" placeholder="영어단어"></p>
    <p><textarea name="korean" placeholder="뜻"></textarea></p>
    <p><input type="submit" value="create"></p>
    </form>
    
</body></html>
