<html><head></head><body>
    <h1><a href="/">단어장</a></h1>
    <ol>
        <li><a href="/random/">random</a></li>
        <li><a href="/random2/">random2</a></li>
        <li><a href="/reads/">reads</a></li>
        <li><a href="/create/">create</a></li>
    </ol>
    <h2>{{answer['english']}}</h2>
    <ol>
    {% for word in sample %}
    <li>{{word['korean']}}</li>   
    {% endfor %}
    </ol>
<p></p><details><summary>정답</summary>
{{answer['english']}}, {{answer['korean']}}</details><p></p>
<br>
<a href="/random/">next</a>
    
</body></html>